/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-outline{
    -webkit-text-stroke: 2px rgb(0,0,0);
  }
}

@layer Utilities{
  .img-shadow{
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
}